.map-info {
  background-color: #fffff8;
  padding: 10px;
  margin-left: 20px;
  border: 1px solid #ccc;
  width: 25vw;
}
th {
  text-align: left;
}
.no-data {
  width: 25vw;
  font-size: 20px;
  font-weight: 500;
  margin-top: 50px;
  text-align: center;
  color: #7a4f4f;
}
table {
  border-spacing: 0px;
}
