<div class="app-container">
  <app-modal
    *ngIf="isModalOpen"
    [title]="modalTitle"
    (closeModal)="onCloseModal()"
  ></app-modal>
  <div class="top-section">
    <app-fetch-ring-data
      (addRingData)="onAddRingData($event)"
    ></app-fetch-ring-data>
    <button
      [ngClass]="!isDarkMode ? 'dark' : 'light'"
      (click)="toggleDarkMode()"
    >
      {{ buttonText }}
    </button>
  </div>
  <div class="content-container">
    <div class="map-container">
      <app-google-map [ringDataToDisplay]="ringDataToDisplay"></app-google-map>
    </div>
    <div>
      <app-ring-data
        [ringData]="ringData"
        (updateSelectedRings)="onUpdateSelectedRings($event)"
      ></app-ring-data>
    </div>
  </div>
</div>
